In [35]:
import numpy as np
import pandas as pd

In [36]:
legajo_tarjeta = pd.read_excel('legajo_reloj.xls', )
legajo_tarjeta

,Nro Identificador,Nro Tarjeta,Apellido y Nombre,Privilegio,Clave,Cant. Huellas,Habilitado
0,9,11,ADMIN,Super administrador,5555,0,Si
1,10,,ADMIN,Super administrador,5555,0,Si
2,16,,ADMIN,Super administrador,5555,0,Si
3,17,,ADMIN,Super administrador,5555,0,Si
4,18,,ADMIN,Super administrador,5555,0,Si
...,...,...,...,...,...,...,...
1519,9139,111335,CEI FACU,Empleado,0555,0,Si
1520,9140,111536,lopez wa,Empleado,9140,0,Si
1521,9142,123563,FORTUNOF,Empleado,,0,Si
1522,60202,0000122100,VILLAMOR,Empleado,60202,0,Si
1523,60206,5512167,SOLIS NO,Empleado,60206,0,Si

In [37]:
usuario_reloj = pd.read_excel('usuario_datos.xlsx', )
usuario_reloj

,legajo,apellido,nombre,tipo_doc,nro_doc,fecnac,domicilio,nro,localidad,antiguedad,...,descripcion,nro.1,ruta_archivo,clave_activacion,nro_serie,direccion_ip,usuario,pass,leer_fichada,activado
0,577,COLON,NORMA BEATRIZ,DNI,17585757,1966-07-08,CURIE,320.0,1,2000-01-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
1,617,MARTINEZ,GRISELDA MARIELA,DNI,22917962,1973-03-28,VIGNAU,1566.0,1,2005-10-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
2,625,TAVOLONI,GABRIELA,DNI,22800094,1972-05-31,SARMIENTO,176.0,1,2008-07-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
3,649,GONZALEZ,SILVIA NOEM,DNI,13974459,1960-02-03,BROWN,183.0,1,2001-04-24,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
4,691,ROBURU,CLAUDIO OSCAR,DNI,20359535,1968-06-20,12 DE ABRIL,624.0,1,2013-06-03,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,9134,DIAZ,MARIA EUGENIA,DNI,37033426,1992-10-21,UGARTE,360.0,1,2023-01-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
247,9135,DANS,NATACHA BELEN,DNI,38769819,1995-04-18,JOSE HERNANDEZ,128.0,1,2023-01-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
248,9136,GOMEZ,MARIA VICTORIA,DNI,37016552,1992-06-23,LEON XII,510.0,1,2023-01-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
249,9137,SERVERA,EVELYN AGUSTINA,DNI,38083073,1994-01-21,MARCONI,25.0,1,2023-01-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
250,9142,FORTUNOFF,FACUNDO IVAN,DNI,42294451,2000-01-19,MARCONI,1132.0,1,2023-01-01,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1

In [38]:
inner = pd.merge(left=legajo_tarjeta, right=usuario_reloj, left_on='Nro Identificador', right_on='legajo')
inner

,Nro Identificador,Nro Tarjeta,Apellido y Nombre,Privilegio,Clave,Cant. Huellas,Habilitado,legajo,apellido,nombre,...,descripcion,nro.1,ruta_archivo,clave_activacion,nro_serie,direccion_ip,usuario,pass,leer_fichada,activado
0,577,0005138594,COLON NO,Empleado,577,0,Si,577,COLON,NORMA BEATRIZ,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
1,617,0000098570,MARTINEZ,Empleado,617,0,Si,617,MARTINEZ,GRISELDA MARIELA,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
2,625,0000120850,TAVOLONI,Empleado,625,0,Si,625,TAVOLONI,GABRIELA,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
3,649,0007220073,GONZALEZ,Empleado,649,0,Si,649,GONZALEZ,SILVIA NOEM,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
4,691,0000111134,RODURU C,Empleado,691,0,Si,691,ROBURU,CLAUDIO OSCAR,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,9134,85212,DIAZ EUG,Empleado,,0,Si,9134,DIAZ,MARIA EUGENIA,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
247,9135,89982,DANS NAT,Empleado,,0,Si,9135,DANS,NATACHA BELEN,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
248,9136,91965,GOMEZ MA,Empleado,,0,Si,9136,GOMEZ,MARIA VICTORIA,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
249,9137,122921,SERVERA,Empleado,,0,Si,9137,SERVERA,EVELYN AGUSTINA,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1
250,9142,123563,FORTUNOF,Empleado,,0,Si,9142,FORTUNOFF,FACUNDO IVAN,...,Hospital,5,\\192.168.100.31\ControlPersonalv2\Importacion...,BCBVUJJXXJ,1458629380076,100.100.100.198,NaN,NaN,1,1

## Extract useful data

In [39]:
merged = inner[['Nro Identificador', 'Nro Tarjeta', 'apellido',
                    'nombre', 'fecnac', 'antiguedad', 'domicilio', 'nro']]
merged['nro'][merged['nro'].isnull()] = 0
merged['nro'][merged['nro'] == 0] 
merged['nro'] = merged['nro'].astype(np.intc)

/tmp/ipykernel_1656/1440233949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['nro'][merged['nro'].isnull()] = 0
/tmp/ipykernel_1656/1440233949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['nro'][merged['nro'].isnull()] = 0
/tmp/ipykernel_1656/1440233949.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['nro'] = merged['nro'].astype(np.intc)

## Concatenate last name and name, then delete the columns

In [40]:

merged['Nombre'] = merged.apply(
    lambda x: x['apellido'] + ' ' + x['nombre'], axis=1)
del merged['nombre']
del merged['apellido']

/tmp/ipykernel_1656/255037504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Nombre'] = merged.apply(

## Concatenate address and number, the delete the columns

In [41]:
merged['Domicilio'] = merged.apply(
    lambda x: x['domicilio'] + ' ' + str(x['nro']), axis=1)
del merged['domicilio']
del merged['nro']

/tmp/ipykernel_1656/2291958983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Domicilio'] = merged.apply(

## Add user number

In [42]:
length = merged.shape[0]
merged['Usuario Nro.'] = np.arange(1, length + 1)

/tmp/ipykernel_1656/3119433264.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Usuario Nro.'] = np.arange(1, length + 1)

## Add needed columns

In [43]:
merged['Género'] = np.nan
merged['Departamento'] = 'Hospital'
merged['Posición'] = np.nan
merged['Teléfono'] = np.nan
merged['Dispositivos'] = np.nan

/tmp/ipykernel_1656/734585417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Género'] = np.nan
/tmp/ipykernel_1656/734585417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Departamento'] = 'Hospital'
/tmp/ipykernel_1656/734585417.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Posición'] = np.nan
/tmp/ipykernel_1656/734585417.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Teléfono'] = np.nan
/tmp/ipykernel_1656/734585417.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Dispositivos'] = np.nan

## Correct columns types

In [44]:
merged['fecnac'] = merged['fecnac'].astype(str)
for el in merged['fecnac']:
    el = el[6:16]
merged['antiguedad'] = merged['antiguedad'].astype(str)
for el in merged['antiguedad']:
    el = el[6:16]

/tmp/ipykernel_1656/3914802821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['fecnac'] = merged['fecnac'].astype(str)
/tmp/ipykernel_1656/3914802821.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['antiguedad'] = merged['antiguedad'].astype(str)

## Rename columns

In [45]:
merged = merged.rename(columns={"Nro Identificador": "ID en dispositivo", "Nro Tarjeta": "Tarjeta Nro.", "fecnac": "Cumpleaños", "antiguedad": "Fecha de inicio laboral", "B": "c"})

## Generate final output

In [46]:
final_dataframe = merged[['Usuario Nro.', 'ID en dispositivo', 'Tarjeta Nro.', 'Nombre',
                              'Departamento', 'Género', 'Posición', 'Cumpleaños', 'Fecha de inicio laboral', 'Teléfono', 'Domicilio', 'Dispositivos']]
final_dataframe.fillna('', inplace=True)
final_dataframe.loc[final_dataframe['Cumpleaños'] == 'NaT', 'Cumpleaños'] = '1990-01-01'
final_dataframe.to_excel('Reloj Hospital.xlsx', index=False)